// start footer section
footer {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $blue-color;
    .information {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 60%;
      h1 {
        font-family: roboto-thin;
        letter-spacing: 5px;
        color: #fff;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      p {
        padding-bottom: 20px;
        color: $main-color;
        font-size: 15px;
      }
      .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        padding-bottom: 30px;
      }
      .icons i {
        color: #fff;
        opacity: 0.4;
        font-size: 40px;
      }
    }
    .copy {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #777;
      width: 100%;
      height: 40px;
      background-color: $nav-color;
      span {
        text-align: center;
  
        font-size: 13px;
      }
    }
  }
  // end footer section